{
  "extends": [
    "standard",
    "standard-react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxEOF": 1
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "react/prop-types": [
      0
    ]
  },  
  "globals": {
    "fetch": true,
    "it": true
  }
}